<div class="footer-custom mt-5">
  <footer class="py-2 my-2 container">
    <div class="row row-cols-auto align-items-center justify-content-around">
      <div class="col align-self-center nav text-center justify-content-center">
        <a
          routerLink="/contact"
          class="btn btn-custom btn-footer-custom text-center mb-2"
          type="button"
          >Contact</a>
      </div>

      <div class="col align-self-center nav justify-content-center">
        <span>
          <a class="pe-2 btn btn-social-share">
            <i class="bi bi-facebook icon-custom"></i>
          </a>
          <a class="pe-2 btn btn-social-share">
            <i class="bi bi-twitter icon-custom"></i>
          </a>
          <a class="pe-2 btn btn-social-share">
            <i class="bi bi-instagram icon-custom"></i>
          </a>
        </span>
      </div>
    </div>

    <div class="text-center border-top-custom">
      <div class="d-flex justify-content-around">
        <a href="" class="text-center">Mentions Légales</a>
        <a href="" class="text-center">Politique de confidentialité</a>
        <a href="" class="text-center">Gestion des cookies</a>
      </div>
	    <span class="text-center text-muted">© 2024 Aurélie GUICHARDON, Studid</span>
    </div>
  </footer>
</div>
