<div>
  <button class="btn-custom btn" routerLink="/">Retour</button>
</div>
<div class="container mt-2">
  <h1 class="text-center mt-2 mb-3">Inscription</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <form [formGroup]="myForm">
        <div class="alert alert-danger" *ngIf="err">
          <strong>{{err}}</strong>
        </div>

        <!--nom-->
        <div class="form-group">
          <label for="lastname">Nom :</label>
          <input
            type="text"
            name="lastname"
            class="form-control"
            formControlName="lastname"
            [(ngModel)]="formData.userDTO.lastname"
          />
        </div>
        <span
          *ngIf="
            myForm.controls['lastname'].hasError('required') &&
            myForm.controls['lastname'].touched
          "
          class="text-danger"
        >
          Le nom est obligatoire
        </span>

        <!--prenom-->
        <div class="form-group">
          <label for="firstname">Prénom :</label>
          <input
            type="text"
            id="firstname"
            name="firstname"
            class="form-control"
            formControlName="firstname"
            [(ngModel)]="formData.userDTO.firstname"
          />
        </div>
        <span
          *ngIf="
            myForm.controls['firstname'].hasError('required') &&
            myForm.controls['firstname'].touched
          "
          class="text-danger"
        >
          Le prénom est obligatoire
        </span>

        <!--téléphone-->
        <div class="form-group">
          <label for="phone">Téléphone :</label>
          <input
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            formControlName="phone"
            [(ngModel)]="formData.userDTO.phone"
          />
        </div>


        <!--Email/pseudo-->
        <div class="form-group">
          <label for="pseudo">Email :</label>
          <input
            type="text"
            name="pseudo"
            class="form-control"
            formControlName="pseudo"
            [(ngModel)]="formData.authDTO.pseudo"
          />
        </div>
        <span
          *ngIf="
            myForm.controls['pseudo'].hasError('required') &&
            myForm.controls['pseudo'].touched
          "
          class="text-danger"
        >
          L'email est obligatoire
        </span>

        <!--password-->
        <div class="form-group">
          <label for="password">Mot de passe :</label>
          <input
            type="password"
            name="password"
            formControlName="password"
            [(ngModel)]="formData.authDTO.password"
            class="form-control"
          />
        </div>
        <span
          *ngIf="
            myForm.controls['password'].hasError('required') &&
            myForm.controls['password'].touched
          "
          class="text-danger"
        >
          Le mot de passe est obligatoire
        </span>
        <span
          *ngIf="
            myForm.controls['password'].hasError('minlength') &&
            myForm.controls['password'].touched
          "
          class="text-danger"
        >
          Le mot de passe doit contenir au moins 6 caractères
        </span>

        <!--password confirm-->
        <div class="form-group">
          <label>Confirmer Mot de passe :</label>
          <input
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
          />
        </div>
        <span
          *ngIf="
            myForm.controls['confirmPassword'].hasError('required') &&
            myForm.controls['confirmPassword'].touched
          "
          class="text-danger"
        >
          Confirmer mot de passe est obligatoire
        </span>
        <div>
          <span
            *ngIf="
              myForm.get('confirmPassword')?.touched &&
              myForm.get('confirmPassword')?.value !=
                myForm.get('password')?.value
            "
            class="text-danger"
          >
            Le mot de passe confirmé ne correspond pas au mot de passe saisi
          </span>
        </div>
        <div class="form-check mt-1">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label label_custom" for="flexCheckDefault">
            J'accepte les conditions d'utilisation
          </label>
        </div>

        <!--button-->
        <section class="text-center">
          <button
            (click)="sendDataToApi()"
            type="button"
            class="btn btn-custom mt-3">
            S'inscrire
          </button>
        </section>

        <section class="text-center">
                <hr>
                <div class="mb-1">J'ai déjà un compte ? </div>
                <a routerLink="/login" class="btn btn-custom">Se connecter</a>
        </section>
      </form>
    </div>
  </div>
</div>
