<form (ngSubmit)="onSubmit()">
  <label for="name">Nom :</label>
  <input type="text" id="name" name="name" [(ngModel)]="sport.name" required>

  <label for="description">Description :</label>
  <textarea id="description" name="description" [(ngModel)]="sport.description" required></textarea>

  <label for="price">Prix :</label>
  <input type="text" id="price" name="price" [(ngModel)]="sport.price" required>

  <button type="submit">Ajouter le sport</button>
</form>

<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>
