    <div class="mb-4">
        <a type="button" class="btn btn-custom" routerLink="/admindashboard">Retour</a>
    </div>

    <h1>Liste des sports</h1>

    <div class="mb-4">
      <button type="button" class="btn btn-custom-add" routerLink="/sportCreate">Ajouter un sport</button>
    </div>

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <td>Nom</td>
            <td>Description</td>
            <td>Prix</td>
            <td colspan="2">Actions</td>
        </tr>
    </thead>
    <tbody *ngFor="let sport of sports; let i = index">
        <tr class="text-center">
            <td>
              <span *ngIf="i !== editingSportIndex">{{ sport.name }}</span>
              <input *ngIf="i === editingSportIndex" type="text" [(ngModel)]="sport.name">
            </td>
            <td>
              <span *ngIf="i !== editingSportIndex">{{ sport.description }}</span>
              <input *ngIf="i === editingSportIndex" type="text" [(ngModel)]="sport.description">
            </td>
            <td>
              <span *ngIf="i !== editingSportIndex">{{ sport.price }} €</span>
              <input *ngIf="i === editingSportIndex" type="text" [(ngModel)]="sport.price">
            </td>
            <td>
              <!--button-->
              <!--bouton Modifier-->
              <div>
                <button type="button" class="btn btn-custom-modify ms-2 me-2" (click)="toggleEditing(i)" *ngIf="i !== editingSportIndex">Modifier</button>
                <button type="button" class="btn btn-custom ms-2 me-2" (click)="updateSportAdmin(sport)" *ngIf="i === editingSportIndex">Valider</button>
                <button type="button" class="btn btn-custom-delete ms-2 me-2" (click)="deleteOneSport(sport.id)" *ngIf="i !== editingSportIndex">Supprimer</button>
              </div>


              <!--bouton Valider
              <div>
                <button type="button" class="btn btn-custom" (click)="updateSportAdmin(sport)" *ngIf="i === editingSportIndex">Valider</button>
              </div>-->

              <!--bouton Supprimer
              <div>
                <button type="button" class="btn btn-custom-delete" (click)="deleteOneSport(sport.id)">Supprimer</button>
              </div>-->
          </td>
        </tr>
    </tbody>
</table>

