<h1>Accueil panneau d'administration</h1>
<main class="container">
    <section class="d-flex justify-content-around flex-wrap">

        <a routerLink="/sportListAdmin" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="/assets/images/medal-solid.svg" class="rounded mx-auto d-block align-middle" width="40" alt="sport">
                    <h5 class="card-title text-center mt-2">
                        Sports
                    </h5>
                </div>
            </div>
        </a>

        <a routerLink="/userListAdmin" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="/assets/images/clients.svg" class="rounded mx-auto d-block align-middle"  width="40" alt="clients">
                    <h5 class="card-title text-center mt-2">
                        Clients
                    </h5>
                </div>
            </div>
        </a>

        <a routerLink="/commandeAdmin" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="/assets/images/reservations.svg" class="rounded mx-auto d-block align-middle" width="40" alt="fomrule">
                    <h5 class="card-title text-center mt-2">
                        Réservations
                    </h5>
                </div>
            </div>
        </a>



