    <h2 class="text-center mt-3 pres_private_title">PRESENTATION ET HISTORIQUE DES JO</h2>
    <section class=" separator d-flex justify-content-around flex-wrap pres_private mt-4">
        <div class="card mb-3 mt-3 pres_private_detail" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div>
                      <img class="pres_img mt-5" src="/assets/images/paris.jpg" alt="Paris">
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title text-center">Les Jeux Olympiques à Paris</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat pellentesque condimentum. Vivamus imperdiet felis sit amet ex lacinia laoreet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="d-flex justify-content-around flex-wrap pres_private mt-3 ">
        <div class="card mb-3 mt-3 pres_private_detail" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">L'histoire des JO</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat pellentesque condimentum. Vivamus imperdiet felis sit amet ex lacinia laoreet.</p>
                </div>
                </div>
                <div class="col-md-4">
                    <div>
                      <img class="pres_img mt-4" src="/assets/images/flamme.jpg" alt="Paris">
                    </div>
                </div>

            </div>
        </div>
    </section>

<hr>
    <div class="mt-5 "></div>
    <h2 class="text-center mt-2 epreuve_private_title">LES SPORTS</h2>
    <section class="separator d-flex justify-content-around flex-wrap epreuve_private mt-3">
        <div class="card mt-3 mb-3 epreuve_private_detail" style="max-width: 540px;">
          <div class="row g-0">
              <div class="col-md-12 text-center border-primary">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat pellentesque condimentum. </p>
                    <button  class="btn btn-primary epreuve_btn" type="button" routerLink="/sports">Accéder aux sports</button>
                </div>
                <div class="col-md-12">
                    <div>
                      <img class="p-2 epreuve_img" src="/assets/images/equitation.jpg" alt="Equitation">
                      <img class="epreuve_img" src="/assets/images/judo.jpg" alt="Judo">
                    </div>
                </div>
              </div>
          </div>
        </div>
    </section>
