<h1 class="text-center">Billeterie</h1>
<div class="mt-4 mb-4">
  <table class="table table-striped table-bordered">
    <thead class="table-light">
      <tr>
        <th class="text-center">Sport</th>
        <th class="text-center">Description</th>
        <th class="text-center">Prix unitaire</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let sport of sports; let i = index">
      <tr>
        <td>{{ sport.name }}</td>
        <td>{{ sport.description }}</td>
        <td>{{sport.price}} €</td>
        <td>
          <button class="btn btn-custom-solo p-2 mx-2" (click)="addSolo(sport)">Offre Solo</button>
          <button class="btn btn-custom-duo p-2 mx-2" (click)="addDuo(sport)">Offre Duo</button>
          <button class="btn btn-custom-family p-2 mx-2" (click)="addFamily(sport)">Offre Famille</button>
          <button class="btn btn-custom-danger p-2 mx-2" (click)="deleteOneSport(sport.id)">Supprimer du panier</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-custom-danger" (click)="deletePanier()">Supprimer le panier</button>

<hr>

  <div class="mt-4 mb-4">
    <h4>Récapitulatif panier</h4>
    <table class="table-sm table-striped table-bordered">
      <thead class="table-light">
        <tr>
          <th>Montant total panier</th>
          <th>Nombre de Places</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ getTotal() }} €</td>
          <td>{{ getTotalPlace() }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <a type="button" class="btn btn-custom-payment" routerLink="/payment">Accéder au paiement</a>

<hr>
<div class="mt-4 mb-4">
  <h4>Détail par sport</h4>
    <table class="table table-striped table-bordered">
      <thead class="table-light">
        <tr>
          <th>Sport</th>
          <th>Total par sport </th>
        </tr>
      </thead>
      <tbody *ngFor="let subtotal of calculateSubtotals() | keyvalue">
        <tr>
          <td>{{subtotal.key}}</td>
          <td>{{subtotal.value}} €</td>
        </tr>
      </tbody>
    </table>
  </div>

